In [47]:
import sqlite3
import pandas as pd
import paramiko
import os
import requests
import json

# IMPORTS

# Configuración del SFTP

In [43]:
import os
from dotenv import load_dotenv
import pandas as pd

# Load environment variables from .env file
load_dotenv()

# Get variables from environment
SFTP_HOST = os.getenv('SFTP_HOST')
SFTP_PORT = int(os.getenv('SFTP_PORT'))
SFTP_USER = os.getenv('SFTP_USER')
SFTP_PRIVATE_KEY = os.getenv('SFTP_PRIVATE_KEY')
RUTA = os.getenv('RUTA')

# Generate file name and paths
time = pd.Timestamp.now()
file = 'reporte_consolidado-' + time.strftime('%Y-%m-%d-%H_%M') + '.csv'

LOCAL_PATH = RUTA + file
print(LOCAL_PATH)

REMOTE_PATH = '/data/sftp/reporte_consolidado-' + file

C:/Users/alarc/Desktop/DataMining/ETL/reporte_consolidado-2024-11-27-10_28.csv

# Proceso ETL

In [29]:
print("== Paso 1: Extracción de datos ==")

# Conectar a SQLite y extraer datos
db_path = 'comercio_ventas.db'
conn = sqlite3.connect(db_path)

== Paso 1: Extracción de datos ==

# Extracción de datos de SQLite

In [30]:
comercio_df = pd.read_sql_query("SELECT * FROM Comercio", conn)
producto_df = pd.read_sql_query("SELECT * FROM Producto", conn)
transaccion_df = pd.read_sql_query("SELECT * FROM Transaccion", conn)
detalle_transaccion_df = pd.read_sql_query("SELECT * FROM Detalle_Transaccion", conn)

# Cerrar la conexión a la base de datos
conn.close()

# Imprimir los encabezados para verificar los datos extraídos

In [31]:
print("Encabezados de Comercio:")
print(comercio_df.head(), "\n")

print("Encabezados de Producto:")
print(producto_df.head(), "\n")

print("Encabezados de Transacción:")
print(transaccion_df.head(), "\n")

print("Encabezados de Detalle Transacción:")
print(detalle_transaccion_df.head(), "\n")

Encabezados de Comercio:
   id_comercio        RUC codigo_comercio nombre_comercio    direccion  \
0            1  205500001            C001      Comercio 1  Dirección X
1            2  205500002            C002      Comercio 2  Dirección X
2            3  205500003            C003      Comercio 3  Dirección X
3            4  205500004            C004      Comercio 4  Dirección X
4            5  205500005            C005      Comercio 5  Dirección X

    telefono                email fecha_registro ciudad    distrito provincia  \
0  999999999  correo1@example.com     2024-11-14   Lima  San Isidro      Lima
1  999999999  correo2@example.com     2024-11-14   Lima  San Isidro      Lima
2  999999999  correo3@example.com     2024-11-14   Lima  San Isidro      Lima
3  999999999  correo4@example.com     2024-11-14   Lima  San Isidro      Lima
4  999999999  correo5@example.com     2024-11-14   Lima  San Isidro      Lima

  departamento tipo_comercio     sector  ingresos_anuales fecha_apertura  \
0         Lima     Minorista  Alimentos         132322.03     2015-01-01
1         Lima     Minorista  Alimentos         140414.51     2015-01-01
2         Lima     Minorista  Alimentos         177087.76     2015-01-01
3         Lima     Minorista  Alimentos         146884.12     2015-01-01
4         Lima     Minorista  Alimentos          94630.19     2015-01-01

   numero_empleados frecuencia_transacciones nivel_lealtad
0                10                  Mensual         Plata
1                13                  Mensual         Plata
2                29                  Mensual         Plata
3                46                  Mensual         Plata
4                34                  Mensual         Plata

Encabezados de Producto:
   id_producto  id_comercio nombre_producto    categoria  precio_unitario
0            1            1      Producto A  Categoría X            96.73
1            2            5      Producto B  Categoría X            44.51
2            3            3      Producto C  Categoría X            81.26
3            4            4      Producto D  Categoría X            57.60
4            5            2      Producto E  Categoría X            61.12

Encabezados de Transacción:
   id_transaccion  id_comercio           fecha_transaccion tipo_operacion  \
0               1            1  2024-10-05 00:26:43.323858          Venta
1               2            2  2024-07-02 00:26:43.337182          Venta
2               3            5  2024-05-30 00:26:43.337182          Venta
3               4            2  2023-12-14 00:26:43.337182          Venta
4               5            1  2024-02-10 00:26:43.337182          Venta

  id_operacion      estado   monto moneda  id_producto motivo_venta_observada  \
0     OP000001  Completado   55.23  Soles            7      Sin observaciones
1     OP000002  Completado   26.80  Soles            5
2     OP000003   Rechazado  165.60  Soles            5
3     OP000004  Completado   87.75  Soles            5
4     OP000005   Rechazado  183.13  Soles            7              Observado

   ... origen_tarjeta tipo_tarjeta marca_tarjeta tipo_captura  banco_emisor  \
0  ...  Internacional      Crédito    MasterCard           QR     Interbank
1  ...  Internacional      Crédito          Visa           QR          BBVA
2  ...       Nacional       Débito    MasterCard           QR           BCP
3  ...  Internacional       Débito          Visa           QR     Interbank
4  ...  Internacional       Débito    MasterCard    Magstripe     Interbank

  numero_cuenta banco_pagador numero_cuotas transaccion_cuotas_sin_interes  \
0    1695364423           BCP             8                             SI
1    3459135248          BBVA             5                             SI
2    9951217178     Interbank             6                             SI
3    8414083139          BBVA             0                             NO
4    5679582864    Scotiabank             4                             SI

    nombre_programa
0       Paga Rápido
1       Paga Rápido
2       Paga Rápido
3  Cashback Program
4

[5 rows x 27 columns]

Encabezados de Detalle Transacción:
   id_detalle_transaccion  id_transaccion  importe_descuento cashback  \
0                       1               1               1.67       NO
1                       2               2              13.29       SI
2                       3               3               7.02       SI
3                       4               4              13.02       SI
4                       5               5              13.99       SI

   monto_cashback  comision_cuota_sin_interes paga_rapido  qr  importe_propina
0            8.60                        1.37          NO  SI            14.80
1            4.73                        4.10          NO  SI            10.73
2            5.31                        2.40          SI  SI             8.66
3            5.47                        2.00          SI  SI             8.06
4            8.77                        3.14          NO  NO             5.73

# Extracción de datos externos (archivos CSV)

In [32]:
tarifas_bancarias = pd.read_csv('tarifas_bancarias.csv')  # Contiene banco, tipo_tarjeta y comisión
dias_festivos = pd.read_csv('dias_festivos.csv')  # Contiene fecha y descripción del día festivo

# Imprimir encabezados de archivos CSV
print("Encabezados de Tarifas Bancarias:")
print(tarifas_bancarias.head(), "\n")

print("Encabezados de Días Festivos:")
print(dias_festivos.head(), "\n")

Encabezados de Tarifas Bancarias:
        banco tipo_tarjeta  comision
0         BCP       Débito     0.015
1         BCP      Crédito     0.020
2   Interbank       Débito     0.012
3   Interbank      Crédito     0.018
4  Scotiabank       Débito     0.014

Encabezados de Días Festivos:
        fecha              descripcion
0  2024-01-01                Año Nuevo
1  2024-04-18             Jueves Santo
2  2024-04-19            Viernes Santo
3  2024-05-01          Día del Trabajo
4  2024-07-28  Día de la Independencia

# Paso 2: Transformación de datos

In [33]:
print("== Paso 2: Transformación de datos ==")

# 1. Unir tablas de SQLite
transaccion_completa = pd.merge(transaccion_df, detalle_transaccion_df, left_on='id_transaccion', right_on='id_transaccion')
transaccion_completa = pd.merge(transaccion_completa, comercio_df, left_on='id_comercio', right_on='id_comercio')
transaccion_completa = pd.merge(transaccion_completa, producto_df, left_on='id_producto', right_on='id_producto', suffixes=('_comercio', '_producto'))

# Imprimir encabezados después de la unión
print("Encabezados después de unir Transacción y Detalle:")
print(transaccion_completa.head(), "\n")

# 2. Agregar información de tarifas bancarias
transaccion_completa = pd.merge(
    transaccion_completa, 
    tarifas_bancarias, 
    how='left', 
    left_on=['banco_emisor', 'tipo_tarjeta'], 
    right_on=['banco', 'tipo_tarjeta']
)

# Imprimir encabezados después de agregar tarifas bancarias
print("Encabezados después de agregar tarifas bancarias:")
print(transaccion_completa.head(), "\n")

== Paso 2: Transformación de datos ==
Encabezados después de unir Transacción y Detalle:
   id_transaccion  id_comercio_comercio           fecha_transaccion  \
0               1                     1  2024-10-05 00:26:43.323858
1               1                     1  2024-10-05 00:26:43.323858
2               2                     2  2024-07-02 00:26:43.337182
3               2                     2  2024-07-02 00:26:43.337182
4               3                     5  2024-05-30 00:26:43.337182

  tipo_operacion id_operacion      estado   monto moneda  id_producto  \
0          Venta     OP000001  Completado   55.23  Soles            7
1          Venta     OP000001  Completado   55.23  Soles            7
2          Venta     OP000002  Completado   26.80  Soles            5
3          Venta     OP000002  Completado   26.80  Soles            5
4          Venta     OP000003   Rechazado  165.60  Soles            5

  motivo_venta_observada  ...     sector ingresos_anuales fecha_apertura  \
0      Sin observaciones  ...  Alimentos        132322.03     2015-01-01
1      Sin observaciones  ...  Alimentos        132322.03     2015-01-01
2                         ...  Alimentos        140414.51     2015-01-01
3                         ...  Alimentos        140414.51     2015-01-01
4                         ...  Alimentos         94630.19     2015-01-01

  numero_empleados  frecuencia_transacciones nivel_lealtad  \
0               10                   Mensual         Plata
1               10                   Mensual         Plata
2               13                   Mensual         Plata
3               13                   Mensual         Plata
4               34                   Mensual         Plata

  id_comercio_producto nombre_producto    categoria precio_unitario
0                    1      Producto G  Categoría X           16.39
1                    1      Producto G  Categoría X           16.39
2                    2      Producto E  Categoría X           61.12
3                    2      Producto E  Categoría X           61.12
4                    2      Producto E  Categoría X           61.12

[5 rows x 57 columns]

Encabezados después de agregar tarifas bancarias:
   id_transaccion  id_comercio_comercio           fecha_transaccion  \
0               1                     1  2024-10-05 00:26:43.323858
1               1                     1  2024-10-05 00:26:43.323858
2               2                     2  2024-07-02 00:26:43.337182
3               2                     2  2024-07-02 00:26:43.337182
4               3                     5  2024-05-30 00:26:43.337182

  tipo_operacion id_operacion      estado   monto moneda  id_producto  \
0          Venta     OP000001  Completado   55.23  Soles            7
1          Venta     OP000001  Completado   55.23  Soles            7
2          Venta     OP000002  Completado   26.80  Soles            5
3          Venta     OP000002  Completado   26.80  Soles            5
4          Venta     OP000003   Rechazado  165.60  Soles            5

  motivo_venta_observada  ... fecha_apertura numero_empleados  \
0      Sin observaciones  ...     2015-01-01               10
1      Sin observaciones  ...     2015-01-01               10
2                         ...     2015-01-01               13
3                         ...     2015-01-01               13
4                         ...     2015-01-01               34

  frecuencia_transacciones nivel_lealtad  id_comercio_producto  \
0                  Mensual         Plata                     1
1                  Mensual         Plata                     1
2                  Mensual         Plata                     2
3                  Mensual         Plata                     2
4                  Mensual         Plata                     2

  nombre_producto    categoria precio_unitario      banco comision
0      Producto G  Categoría X           16.39  Interbank    0.018
1      Producto G  Categoría X           16.39  Interbank    0.018
2      Producto E  Categoría X           61.12       BBVA    0.017
3      Producto E  Categoría X           61.12       BBVA    0.017
4      Producto E  Categoría X           61.12        BCP    0.015

[5 rows x 59 columns]

# 3. Agregar información de días festivos

In [34]:
transaccion_completa['fecha_transaccion'] = pd.to_datetime(transaccion_completa['fecha_transaccion'])
dias_festivos['fecha'] = pd.to_datetime(dias_festivos['fecha'])
transaccion_completa = pd.merge(
    transaccion_completa, 
    dias_festivos, 
    how='left', 
    left_on='fecha_transaccion', 
    right_on='fecha'
)
transaccion_completa['es_dia_festivo'] = ~transaccion_completa['descripcion'].isna()

# Imprimir encabezados después de agregar días festivos
print("Encabezados después de agregar días festivos:")
print(transaccion_completa.head(), "\n")

Encabezados después de agregar días festivos:
   id_transaccion  id_comercio_comercio          fecha_transaccion  \
0               1                     1 2024-10-05 00:26:43.323858
1               1                     1 2024-10-05 00:26:43.323858
2               2                     2 2024-07-02 00:26:43.337182
3               2                     2 2024-07-02 00:26:43.337182
4               3                     5 2024-05-30 00:26:43.337182

  tipo_operacion id_operacion      estado   monto moneda  id_producto  \
0          Venta     OP000001  Completado   55.23  Soles            7
1          Venta     OP000001  Completado   55.23  Soles            7
2          Venta     OP000002  Completado   26.80  Soles            5
3          Venta     OP000002  Completado   26.80  Soles            5
4          Venta     OP000003   Rechazado  165.60  Soles            5

  motivo_venta_observada  ... nivel_lealtad id_comercio_producto  \
0      Sin observaciones  ...         Plata                    1
1      Sin observaciones  ...         Plata                    1
2                         ...         Plata                    2
3                         ...         Plata                    2
4                         ...         Plata                    2

  nombre_producto    categoria  precio_unitario      banco comision fecha  \
0      Producto G  Categoría X            16.39  Interbank    0.018   NaT
1      Producto G  Categoría X            16.39  Interbank    0.018   NaT
2      Producto E  Categoría X            61.12       BBVA    0.017   NaT
3      Producto E  Categoría X            61.12       BBVA    0.017   NaT
4      Producto E  Categoría X            61.12        BCP    0.015   NaT

  descripcion es_dia_festivo
0         NaN          False
1         NaN          False
2         NaN          False
3         NaN          False
4         NaN          False

[5 rows x 62 columns]

# 4. Calcular comisiones bancarias aplicadas

In [35]:
transaccion_completa['comision_aplicada'] = transaccion_completa['monto'] * transaccion_completa['comision']

# 5. Agregar columnas adicionales

In [52]:

transaccion_completa['DayOfMonth'] = transaccion_completa['fecha_transaccion'].dt.day

# Imprimir encabezados después de agregar cálculos adicionales
print("Encabezados después de cálculos adicionales:")
print(transaccion_completa.head(), "\n")

# Paso 3: Carga de datos
print("== Paso 3: Carga de datos ==")

# Guardar el resultado consolidado
transaccion_completa.to_csv(LOCAL_PATH, index=False)
print(f"Archivo consolidado guardado localmente como {LOCAL_PATH}.\n")

# Subir el archivo al servidor SFTP
try:
    # Verificar si el archivo local existe
    if not os.path.exists(LOCAL_PATH):
        print(f"Error: El archivo '{LOCAL_PATH}' no existe.")
        exit()

    # Crear conexión SFTP
    private_key = paramiko.RSAKey.from_private_key_file(SFTP_PRIVATE_KEY)
    transport = paramiko.Transport((SFTP_HOST, SFTP_PORT))
    transport.connect(username=SFTP_USER, pkey=private_key)
    sftp = paramiko.SFTPClient.from_transport(transport)

    # Subir el archivo
    print(f"Subiendo {LOCAL_PATH} a {REMOTE_PATH}...")
    sftp.put(LOCAL_PATH, REMOTE_PATH)
    print("Archivo subido con éxito.")

    # Cerrar la conexión
    sftp.close()
    transport.close()
except FileNotFoundError as e:
    print(f"Error: Archivo no encontrado. {e}")
except paramiko.SSHException as e:
    print(f"Error SSH: {e}")
except Exception as e:
    print(f"Error al subir el archivo al servidor SFTP: {e}")

Encabezados después de cálculos adicionales:
   id_transaccion  id_comercio_comercio          fecha_transaccion  \
0               1                     1 2024-10-05 00:26:43.323858
1               1                     1 2024-10-05 00:26:43.323858
2               2                     2 2024-07-02 00:26:43.337182
3               2                     2 2024-07-02 00:26:43.337182
4               3                     5 2024-05-30 00:26:43.337182

  tipo_operacion id_operacion      estado   monto moneda  id_producto  \
0          Venta     OP000001  Completado   55.23  Soles            7
1          Venta     OP000001  Completado   55.23  Soles            7
2          Venta     OP000002  Completado   26.80  Soles            5
3          Venta     OP000002  Completado   26.80  Soles            5
4          Venta     OP000003   Rechazado  165.60  Soles            5

  motivo_venta_observada  ... nombre_producto    categoria precio_unitario  \
0      Sin observaciones  ...      Producto G  Categoría X           16.39
1      Sin observaciones  ...      Producto G  Categoría X           16.39
2                         ...      Producto E  Categoría X           61.12
3                         ...      Producto E  Categoría X           61.12
4                         ...      Producto E  Categoría X           61.12

       banco  comision fecha descripcion es_dia_festivo comision_aplicada  \
0  Interbank     0.018   NaT         NaN          False           0.99414
1  Interbank     0.018   NaT         NaN          False           0.99414
2       BBVA     0.017   NaT         NaN          False           0.45560
3       BBVA     0.017   NaT         NaN          False           0.45560
4        BCP     0.015   NaT         NaN          False           2.48400

  DayOfMonth
0          5
1          5
2          2
3          2
4         30

[5 rows x 64 columns]

== Paso 3: Carga de datos ==
Archivo consolidado guardado localmente como C:/Users/alarc/Desktop/DataMining/ETL/reporte_consolidado-2024-11-27-10_28.csv.

Subiendo C:/Users/alarc/Desktop/DataMining/ETL/reporte_consolidado-2024-11-27-10_28.csv a /data/sftp/reporte_consolidado-reporte_consolidado-2024-11-27-10_28.csv...
Archivo subido con éxito.

In [ ]:
import paramiko
import os
import requests
import pandas as pd
import json
from datetime import datetime

def etl_process(endpoint_url):
    # Generar timestamp para el nombre del archivo
    timestamp = datetime.now().strftime("%Y-%m-%d_%H-%M-%S")
    LOCAL_TICKETS = f"tickets_transformed_{timestamp}.csv"
    REMOTE_TICKETS = f"/data/sftp/reportes-tickets/tickets_transformed_{timestamp}.csv"

    print("Iniciando la extracción de datos...")
    response = requests.get(endpoint_url)
    if response.status_code == 200:
        data = response.json()
        print("Datos extraídos exitosamente.")
    else:
        print(f"Error al extraer los datos: {response.status_code}")
        return

    print("Transformando los datos...")
    tickets = data["tickets"]
    df_tickets = pd.DataFrame(tickets)
    df_tickets.to_csv(LOCAL_TICKETS, index=False)

    print("Cargando los datos...")
    try:
        if not os.path.exists(LOCAL_TICKETS):
            print(f"Error: El archivo '{LOCAL_TICKETS}' no existe.")
            return

        private_key = paramiko.RSAKey.from_private_key_file(SFTP_PRIVATE_KEY)
        transport = paramiko.Transport((SFTP_HOST, SFTP_PORT))
        transport.connect(username=SFTP_USER, pkey=private_key)
        sftp = paramiko.SFTPClient.from_transport(transport)

        print("Archivos en el directorio remoto:")
        print(sftp.listdir("/data/sftp/reportes-tickets"))

        print(f"Subiendo {LOCAL_TICKETS} a {REMOTE_TICKETS}...")
        sftp.put(LOCAL_TICKETS, REMOTE_TICKETS)
        print("Archivo subido con éxito.")

        sftp.close()
        transport.close()
    except Exception as e:
        print(f"Error al subir el archivo al servidor SFTP: {e}")
        raise

# Ejecutar el ETL
etl_process("https://run.mocky.io/v3/28944349-91bb-4e72-aa6b-0ac7a5d0069f")

Iniciando la extracción de datos...
Datos extraídos exitosamente.
Transformando los datos...
Métricas Calculadas: {'avg_resolution_time': 222.9, 'valid_tickets': 50, 'invalid_tickets': 50, 'tickets_per_area': {'Squad Producto': 18, 'Customer Care': 17, 'SquadBD': 15}}
Cargando los datos...
Subiendo tickets_transformed.csv a /data/sftp/reportes-tickets/...
Error al subir el archivo al servidor SFTP: Failure
Proceso ETL completado. Datos cargados en 'tickets_transformed.csv' y 'metrics.json'.

# Descargar archivo del servidor SFTP

In [ ]:
import paramiko
import os
from datetime import datetime


LOCAL_DIR = os.getenv('RUTA')
REMOTE_DIR = '/data/sftp/'

try:
    # Crear conexión SFTP
    private_key = paramiko.RSAKey.from_private_key_file(SFTP_PRIVATE_KEY)
    transport = paramiko.Transport((SFTP_HOST, SFTP_PORT))
    transport.connect(username=SFTP_USER, pkey=private_key)
    sftp = paramiko.SFTPClient.from_transport(transport)

    # Listar archivos en el directorio remoto
    print(f"Conectando al servidor SFTP en {REMOTE_DIR}...")
    files = sftp.listdir_attr(REMOTE_DIR)
    
    # Buscar el archivo más reciente
    latest_file = None
    latest_time = None
    for file in files:
        if file.filename.endswith('.csv'):  # Solo considerar archivos .csv
            file_time = file.st_mtime  # Tiempo de modificación
            if latest_time is None or file_time > latest_time:
                latest_time = file_time
                latest_file = file

    if latest_file:
        # Descargar el archivo más reciente
        remote_file_path = REMOTE_DIR + latest_file.filename
        local_file_path = os.path.join(LOCAL_DIR, latest_file.filename)
        print(f"Descargando el archivo más reciente: {latest_file.filename}")
        sftp.get(remote_file_path, local_file_path)
        print(f"Archivo descargado con éxito: {local_file_path}")
    else:
        print("No se encontraron archivos .csv en el directorio remoto.")

    # Cerrar la conexión
    sftp.close()
    transport.close()
except FileNotFoundError as e:
    print(f"Error: Archivo no encontrado. {e}")
except paramiko.SSHException as e:
    print(f"Error SSH: {e}")
except Exception as e:
    print(f"Error: {e}")

Iniciando la extracción de datos...
Datos extraídos exitosamente.
Transformando los datos...
Cargando los datos...
Archivos en el directorio remoto:
[]
Subiendo tickets_transformed_2024-11-27_10-57-25.csv a /data/sftp/reportes-tickets/tickets_transformed_2024-11-27_10-57-25.csv...
Archivo subido con éxito.